<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

<h2>Title</h2>
<p><%= @list.title %></p>
<h2>Body</h2>
<p><%= @list.body %></p>

<%= link_to "edit",edit_book_path %>
<%= link_to 'back', books_path  %>
